<h1>{{ title }}</h1>
<h2 *ngIf="!checkForWin() && !checkForCat()">
  {{ currentPlayer.name }}'s turn
</h2>
<h2 *ngIf="checkForWin()">{{ currentPlayer.name }} Wins!</h2>
<h2 *ngIf="checkForCat()">Cat's Game</h2>
<button class="clearButton" (click)="clearBoard()">New Game</button>

<table>
  <tr>
    <td>
      <button (click)="placeOne(currentPlayer.symbol)">
        {{ one }}
      </button>
    </td>
    <td>
      <button (click)="placeTwo(currentPlayer.symbol)">
        {{ two }}
      </button>
    </td>
    <td>
      <button (click)="placeThree(currentPlayer.symbol)">
        {{ three }}
      </button>
    </td>
  </tr>

  <tr>
    <td>
      <button (click)="placeFour(currentPlayer.symbol)">
        {{ four }}
      </button>
    </td>
    <td>
      <button (click)="placeFive(currentPlayer.symbol)">
        {{ five }}
      </button>
    </td>
    <td>
      <button (click)="placeSix(currentPlayer.symbol)">
        {{ six }}
      </button>
    </td>
  </tr>

  <tr>
    <td>
      <button (click)="placeSeven(currentPlayer.symbol)">
        {{ seven }}
      </button>
    </td>
    <td>
      <button (click)="placeEight(currentPlayer.symbol)">
        {{ eight }}
      </button>
    </td>
    <td>
      <button (click)="placeNine(currentPlayer.symbol)">
        {{ nine }}
      </button>
    </td>
  </tr>
</table>
